doctype html
html
    head
        title Share-ride
        script(src='//code.jquery.com/jquery-1.11.0.min.js')
        script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        //- <!-- Latest compiled and minified CSS -->
        link(rel='stylesheet', href='/bootstrap-3.2.0-dist/css/bootstrap.min.css')
        //- <!-- Latest compiled and minified JavaScript -->
        script(src='/bootstrap-3.2.0-dist/js/bootstrap.min.js')

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        .container
            #fb-root
            nav(class=['navbar navbar-default navbar-fixed-top'], role='navigation')
                .container
                    .navbar-header
                        button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a(class='navbar-brand', href='/') Share-ride

                    div(class=['collapse', 'navbar-collapse'])
                        ul.nav.navbar-nav.navbar-left
                            li.active
                                a(href='#') link
                        ul(class=['nav', 'navbar-nav', 'navbar-right'])
                            if !user
                                li
                                    a(href='/users/auth/facebook') Login
                            else
                                li
                                    a(href='/users/#{user.id}') Hi, #{user.local_firstName}
                                li
                                    a(href='/users/logout') Logout
            //- include mixins
            block content
            //- include footer